<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <h1>We'll be right back </h1>

    <p>This site is currently being updated.</p>
</div>
</body>
</html>