<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{> header}}
<article>
    <h1> List of Projects</h1>
<ul>
    <li>Lorem ipsum dolor sit amet consectetur, adipiscing elit lectus</li>.
    <li>Nascetur et praesent dui lacinia sodales, tortor quam nibh.</li>
    <li>Lorem ipsum dolor sit amet consectetur, adipiscing elit lectus</li>.
    <li>Nascetur et praesent dui lacinia sodales, tortor quam nibh.</li>
    <li>Lorem ipsum dolor sit amet consectetur, adipiscing elit lectus</li>.
    <li>Nascetur et praesent dui lacinia sodales, tortor quam nibh.</li>
    <li>Lorem ipsum dolor sit amet consectetur, adipiscing elit lectus</li>.
    <li>Nascetur et praesent dui lacinia sodales, tortor quam nibh.</li>
</ul>
</article>







{{> footer}}
</body>
</html>